<div class="section--featured">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="product-box">
          <div class="hot-deals">
            <h5>Hot deals</h5>
            <div class="col-auto dots">
              <ul>
                <li><a href="#" class="active"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="photo"></div>
          <div class="content">
            <h5>Deal description</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="promotion-right">
          <div class="photo">
            <div class="promotion-right-2">
              <h1>indoor <span>furniture</span></h1>
              <h3>save up to 50% of all furniture</h3>
              <button class="promotion-right-btn">Shop now</button>
            </div>
          </div>
          <div class="promotion-buttons">
            <div class="promotion-arrow-btn"><a href="#"><</a></div>
            <div class="promotion-arrow-btn"><a href="#">></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
