<div class="container">
  <div class="banner">
    <div class="banner-text">
      <p class="banner-heading">
        BEDROOM <span class="banner-heading-ferniture">FERNITURE</span>
      </p>
      <p class="banner-discount">
        ALWAYS <span class="banner-text-discount">25%</span>OFF OR MORE
      </p>
    </div>
    <div class="location-bar">
      <p class="location">
        Home <span class="direction">></span>
        <span class="location-furniture">Furniture</span>
      </p>
    </div>
  </div>
</div>
