<div class="section-deals">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="left-deal">
          <div class="left-deal-2">
            <h3>guest room</h3>
            <h1>sofa</h1>
            <h2>20%</h2>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="right-deal">
          <div class="right-up-deal"></div>
          <div class="right-down-deal"></div>
        </div>
      </div>
    </div>
  </div>
</div>
