<div class="section-deals">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="left-deal-big">
          <img
          src=https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80>
          <div class="left-deal-small">
            <div class="left-deal-small-text">
              <h3>guest room</h3>
              <h1><span>sofa</span></h1>
              <p>-20%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="right-deal">
          <div class="right-up-deal">
            <div class="right-up-deal-text">
              <h3><span>office </span>chair</h3>
              <h5>collection</h5>
              <h3 class="right-up-deal-price"><span>$200.00</span></h3>
            </div>
          </div>
          <div class="right-down-deal">
            <div class="right-down-deal-text">
              <h4><span>special </span>collection</h4>
              <h6>save up to 45% of furniture</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
