<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="col-12 row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul>
            <li><a href="#" class="active">Bed</a></li>
            <li><a href="#">Chair</a></li>
            <li><a href="#">Sofa</a></li>
            <li><a href="#">Table</a></li>
            <li><a href="#">Dining</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="my-slider">
      <div class="slider-item" id="item1">
        <div class="product-box">
          <div class="photo backgroundImage bed1">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item2">
        <div class="product-box">
          <div class="photo backgroundImage bed2">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item3">
        <div class="product-box">
          <div class="photo backgroundImage bed3">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="active"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="starting-price">$ 35.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 25.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item4">
        <div class="product-box">
          <div class="photo backgroundImage bed4">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="active"><i class="far fa-heart"></i></a>
              <a href="#" class="active"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="starting-price">$ 20.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item5">
        <div class="product-box">
          <div class="photo backgroundImage bed5">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item6">
        <div class="product-box">
          <div class="photo backgroundImage bed6">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item7">
        <div class="product-box">
          <div class="photo backgroundImage bed7">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="active"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="starting-price">$ 35.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 25.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item8">
        <div class="product-box">
          <div class="photo backgroundImage bed8">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="active"><i class="far fa-heart"></i></a>
              <a href="#" class="active"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="starting-price">$ 20.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item9">
        <div class="product-box">
          <div class="photo backgroundImage bed1">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item10">
        <div class="product-box">
          <div class="photo backgroundImage bed2">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item11">
        <div class="product-box">
          <div class="photo backgroundImage bed3">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="active"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="starting-price">$ 35.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 25.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item12">
        <div class="product-box">
          <div class="photo backgroundImage bed4">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="active"><i class="far fa-heart"></i></a>
              <a href="#" class="active"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="starting-price">$ 20.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item13">
        <div class="product-box">
          <div class="photo backgroundImage bed5">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item14">
        <div class="product-box">
          <div class="photo backgroundImage bed6">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item15">
        <div class="product-box">
          <div class="photo backgroundImage bed7">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="active"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="starting-price">$ 35.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 25.00</div></div>
          </div>
        </div>
      </div>
      <div class="slider-item" id="item16">
        <div class="product-box">
          <div class="photo backgroundImage bed8">
            <div class="sale">sale</div>
            <div class="buttons marginButtons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="active"><i class="far fa-heart"></i></a>
              <a href="#" class="active"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="starting-price">$ 20.00</div>
            <div class="price"><div class="btn-main-small no-hover">$ 15.00</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
