<div class="container">
  <div class="row furniture-gallery">
    <div class="col-lg-6">
      <div class="left-panel">
        <div class="furniture-gallery-title">
          <p>FURNITURE GALLERY</p>
          <div class="gallery-line"></div>
        </div>
        <div class="gallery-picture">
          <div class="gallery-tab">
            <button
              class="gallery-box tablinks"
              onclick="openGallery(event, 'FEATURED')"
            >
              FEATURED
            </button>
            <button class="gallery-box tablinks" onclick="openGallery(event, 'SELLER')">
              TOP SELLER
            </button>
            <button class="gallery-box tablinks" onclick="openGallery(event, 'SALE')">
              SALE OFF
            </button>
            <button class="gallery-box tablinks" onclick="openGallery(event, 'RATED')">
              TOP RATED
            </button>
          </div>

          <div class="option-box-container">
            <button class="option-box1">
              <i class="far fa-heart"></i>
              <div class="tooltip1"><p>Add to favorite</p></div>
            </button>
            <button class="option-box2">
              <i class="fas fa-exchange-alt"></i>
              <div class="tooltip2"><p>Exchange</p></div>
            </button>
            <button class="option-box3">
              <i class="far fa-eye"></i>
              <div class="tooltip3"><p>Add to followed</p></div>
            </button>
            <button class="option-box4">
              <i class="fas fa-shopping-basket"></i>
              <div class="tooltip4"><p>Add To Cart</p></div>
            </button>
          </div>
          <div class="gallery-rating">
            <div class="triangle-topleft"></div>
            <div class="triangle-bottomright"></div>
            <div class="sale-circle">
              <p class="new-price">$120.00</p>
              <p class="old-price">$160.00</p>
            </div>
            <p>Aenean Ru Bristique</p>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="gallery-slider">
            <div class="tabcontent" id="FEATURED">
              <div class="photo"><img src="./images/gallery_featured0.jpeg" /></div>
              <div class="my-slider">
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_featured2.jpeg" />
                </div>
              </div>
            </div>
            <div class="tabcontent" id="SELLER">
              <div class="photo"><img src="./images/gallery_top_seller0.jpeg" /></div>
              <div class="my-slider">
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_seller2.jpeg" />
                </div>
              </div>
            </div>
            <div class="tabcontent" id="SALE">
              <div class="photo"><img src="./images/gallery_sale0.jpeg" /></div>
              <div class="my-slider">
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_sale2.jpeg" />
                </div>
              </div>
            </div>
            <div class="tabcontent" id="RATED">
              <div class="photo"><img src="./images/gallery_top_rated0.jpeg" /></div>
              <div class="my-slider">
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated2.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated1.jpeg" />
                </div>
                <div class="gallery-slider-box slider-item">
                  <img src="./images/gallery_top_rated2.jpeg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="right-panel">
        <div class="right-panel-text">
          <h3>
            <span class="from">FROM</span>
            <span class="right-panel-text-price">$50.80</span>
          </h3>
          <h3 class="bedroom-bed">Bedroom Bed</h3>
          <button class="gallery-button">SHOP NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>
