<div class="container">
  <div class="row furniture-gallery">
    <div class="col-lg-6">
      <div class="left-panel">
        <div class="furniture-gallery-title">
          <p>FURNITURE GALLERY</p>
          <div class="gallery-line"></div>
        </div>
        <div class="gallery-picture">
          <button class="gallery-box">FEATURED</button>
          <button class="gallery-box">TOP SELLER</button>
          <button class="gallery-box">SALE OFF</button>
          <button class="gallery-box">TOP RATED</button>
          <div class="option-box-container">
            <button class="option-box1">
              <i class="far fa-heart"></i>
              <div class="tooltip1"><p>Add to favorite</p></div>
            </button>
            <button class="option-box2">
              <i class="fas fa-exchange-alt"></i>
              <div class="tooltip2"><p>Exchange</p></div>
            </button>
            <button class="option-box3">
              <i class="far fa-eye"></i>
              <div class="tooltip3"><p>Add to followed</p></div>
            </button>
            <button class="option-box4">
              <i class="fas fa-shopping-basket"></i>
              <div class="tooltip4"><p>Add To Cart</p></div>
            </button>
          </div>
          <div class="gallery-rating">
            <div class="triangle-topleft"></div>
            <div class="triangle-bottomright"></div>
            <div class="sale-circle">
              <p class="new-price">$120.00</p>
              <p class="old-price">$160.00</p>
            </div>
            <p>Aenean Ru Bristique</p>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="gallery-slider">
            <button class="gallery-slider-director gallery-slider-element">
              <i class="fas fa-chevron-left"></i>
            </button>
            <div class="gallery-slider-box"></div>
            <div class="gallery-slider-box"></div>
            <div class="gallery-slider-box"></div>
            <div class="gallery-slider-box"></div>
            <div class="gallery-slider-box"></div>
            <div class="gallery-slider-box"></div>
            <button class="gallery-slider-director">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="right-panel">
        <div class="right-panel-text">
          <h3>
            <span class="from">FROM</span>
            <span class="right-panel-text-price">$50.80</span>
          </h3>
          <h3 class="bedroom-bed">Bedroom Bed</h3>
          <button class="gallery-button">SHOP NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>
