<div class="section--blog-posts">
  <div class="container">
    <div class="panel-bar">
      <div class="col-12 row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Latest blog</h3></div>
        <div class="col margin-dots"></div>
      </div>
    </div>
    <div class="slider-blog">
      <div class="slider-item" id="item1">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
      <div class="slider-item" id="item2">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic2.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
      <div class="slider-item" id="item3">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic3.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
      <div class="slider-item" id="item4">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
      <div class="slider-item" id="item5">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic2.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
      <div class="slider-item" id="item6">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic3.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
      <div class="slider-item" id="item7">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic3.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
      <div class="slider-item" id="item8">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic3.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
      <div class="slider-item" id="item9">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="./images/ProductsThatFightStatic3.jpeg" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5 class="post-title">Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><button class="btn-main btn-post">Read more</button></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
