<div class="container">
  <div class="brands">
    <button class="brand-button">
      <i class="fas fa-chevron-left brand-arrow"></i>
    </button>
    <div class="brand-box"><img class="brand-picture" src="images/brand5.png" /></div>
    <div class="brand-box"><img class="brand-picture" src="images/brand2.png" /></div>
    <div class="brand-box"><img class="brand-picture" src="images/brand2.png" /></div>
    <div class="brand-box"><img class="brand-picture" src="images/brand3.png" /></div>
    <div class="brand-box"><img class="brand-picture" src="images/brand4.png" /></div>
    <div class="brand-box"><img class="brand-picture" src="images/brand5.png" /></div>
    <button class="brand-button">
      <i class="fas fa-chevron-right brand-arrow"></i>
    </button>
  </div>
</div>
