<div class="container">
  <div class="brands">
    <div class="my-slider">
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand5.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand2.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand2.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand3.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand4.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand5.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand5.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand2.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand2.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand3.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand4.png" />
      </div>
      <div class="brand-box slider-item">
        <img class="brand-picture" src="images/brand5.png" />
      </div>
    </div>
  </div>
</div>
