<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>client feedback</h3></div>
        <div class="col"></div>
      </div>
    </div>
    <div class="feedback-slider">
      <blockquote class="feedback">
        <img src="./images/quotation_marks.png" alt="quotation marks" />
        <p>
          Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
          justo duo dolores et ea rebum. Stet clita kasd gubergren.
        </p>
        <footer class="client-wrapper">
          <img src="./images/feedback-client-photo_1.png" alt="client" />
          <div>John Smith<span>Furniture client</span></div>
        </footer>
      </blockquote>
      <blockquote class="feedback">
        <img src="./images/quotation_marks.png" alt="quotation marks" />
        <p>
          Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
          justo duo dolores et ea rebum. Stet clita kasd gubergren.
        </p>
        <footer class="client-wrapper">
          <img src="./images/feedback-client-photo_2.png" alt="client" />
          <div>Monica Thompson<span>Furniture client</span></div>
        </footer>
      </blockquote>
      <blockquote class="feedback">
        <img src="./images/quotation_marks.png" alt="quotation marks" />
        <p>
          Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
          justo duo dolores et ea rebum. Stet clita kasd gubergren.
        </p>
        <footer class="client-wrapper">
          <img src="./images/feedback-client-photo_3.png" alt="client" />
          <div>Anna Johns<span>Furniture client</span></div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
