<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback">
      <img src="./images/quotation_marks.png" alt="quotation marks" />
      <p>
        Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
        duo dolores et ea rebum. Stet clita kasd gubergren.
      </p>
      <div class="client-wrapper">
        <img src="./images/feedback-client-photo_1.png" alt="client" />
        <div>
          <h5>John Smith</h5>
          <span>Furniture client</span>
        </div>
      </div>
    </div>
  </div>
</div>
