.section--feedback {
  margin-top: 60px;

  .row {
    padding-right: 85px;
  }

  .tns-outer {
    position: relative;
  }

  .tns-nav-active {
    background: $primary;
  }

  .tns-nav {
    position: absolute;
    top: -44px;
    right: 0;

    button {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: none;
      margin-left: 0.75rem;
      outline: none;

      &.active,
      &:hover {
        background-color: $primary;
        @extend .animation-transition;
      }
    }
  }

  .feedback {
    color: #676767;
    text-align: center;
    padding: 0 100px;

    > img {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 0;
      line-height: 1.7;
      font-size: 14px;
    }

    .client-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 35px;
      padding-bottom: 65px;
      font-weight: 600;
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 2px;

      img {
        margin-right: 15px;
        border-radius: 3px;
      }

      div {
        margin-top: 6px;
      }

      span {
        display: block;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
