.section--blog-posts {
  position: relative;

  .tns-outer {
    position: relative;

    .tns-horizontal.tns-subpixel > .tns-item {
      display: inline-flex;
    }

    button {
      display: none;
    }

    .tns-nav {
      position: absolute;
      top: -60px;
      right: 10px;

      button {
        padding: 0 0 0 1rem;
        list-style: none;
        transform: translateY(15px);
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: #e1e1e1;
        margin-left: 0.5rem;
        display: inline-flex;

        &.active,
        &:hover {
          background-color: $primary;
          @extend .animation-transition;
        }
      }

      .my-slider {
        position: relative;
        display: block;

        .slider-item {
          position: relative;
          padding: 1.5rem 0.75rem;
        }
      }
    }
  }
}
.post-box {
  margin-bottom: 2rem;

  &:hover {
    text-decoration: none;

    .btn-post {
      background-color: #d58e32;
    }

    .post-title {
      color: $primary;
    }
  }

  .cover {
    padding: 10% 25px 0 25px;
    background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }

    img {
      vertical-align: middle;
      border-style: none;
      max-width: 300px;
      max-height: 200px;
    }

    .details {
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      font-size: 14px;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
        color: #000;
      }

      .comments {
        text-align: right;
        color: #000;
      }
    }
  }

  .post-info {
    padding: 25px;

    h5 {
      color: #000;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103, 103, 103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 16px;
    }

    .btn-post {
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
}
