.post-box {
  margin-bottom: 2rem;

  .cover {
    padding: 10% 25px 0 25px;
    background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }

    .details {
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      font-size: 14px;
      margin-top: 200px;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
      }

      .comments {
        text-align: right;
      }
    }
  }

  .backgroundImage {
    background-size: cover;
    min-height: 200px;
  }

  .blogImage1 {
    background-image: url("https://images.pexels.com/photos/245240/pexels-photo-245240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }

  .blogImage2 {
    background-image: url("https://images.pexels.com/photos/416320/pexels-photo-416320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }

  .blogImage3 {
    background-image: url("https://images.pexels.com/photos/2380176/pexels-photo-2380176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }

  .post-info {
    padding: 25px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103, 103, 103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;
    }
  }
}
